{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ question.question_text }}</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<div class="error-message"><strong>{{ error_message }}</strong></div>{% endif %}
    {% for choice in question.choice_set.all %}
        <label class="radio-group" for="choice{{ forloop.counter }}">
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            {{ choice.choice_text }}
        </label>
    {% endfor %}
</fieldset>
<input type="submit" value="Oylamayı Tamamla">
</form>
</body>
</html>
